body {
    background-color:rgb(228, 224, 224);
}
.button{
    text-align: center;
    margin-top: 5px;
    font-family: "Verdana";
    BORDER: rgb(5, 5, 5) 3px solid; 
    FONT-SIZE: 19pt;
   
    
}

.imagen{
    text-align: center;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  
}